.flex-container {
  display: flex ;
  flex-direction: column;
  justify-content: flex-start;

}

.flex-container-row {
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
  }

.item1 {
    background-color: rgba(255,0,0,0.5);
    color: white;
    flex: 1;
}

.item2 {
    background-color: rgba(255,255,0,0.5);
    color: white;
    flex: 2;
}
